@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f5f5f5;
    --foreground: #374f3a;
    --highlight: #D3DDCB;
    --separator: #C4C4C4;
    --primary: #4c7d21;
    --caption: #868987;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: var(--primary);
    color: var(--background);
}

h1 {
    @apply text-[2.2rem] md:text-[3rem] font-bold;
}

h2 {
    @apply text-[1.5rem] md:text-[1.875rem] font-bold;
}

h3 {
    @apply text-[1.375rem] md:text-[1.5rem] font-semibold;
}

h4 {
    @apply text-[1.125rem] md:text-[1.25rem] font-medium
}

h5 {
    @apply text-[1rem] md:text-[1.125rem];
}

h6 {
    @apply font-medium;
}

*:focus-visible {
    outline: 2px var(--primary) solid;
}

.scrollbar-custom {
    scrollbar-color: var(--caption) var(--background);
}

@media (width >= 768px) {
    .scrollbar-none-desktop {
        scrollbar-width: none;
    }

    .scrollbar-thin-mobile {
        scrollbar-width: thin;
    }
}

@media (width < 768px) {
    .scrollbar-thin-desktop {
        scrollbar-width: thin;
    }

    .scrollbar-none-mobile {
        scrollbar-width: none;
    }
}

.loader {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, currentColor 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear;
}

@keyframes l43 {
    0% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%
    }
    16.67% {
        background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%
    }
    33.33% {
        background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%
    }
    50% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 100%, calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 50%
    }
    66.67% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 0
    }
    83.33% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 100%
    }
    100% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%
    }
}

/* Make element hidden cause it was affecting elements position in DOM */
nextjs-portal {
    display: none;
}
